nav {
    background-image: url("img_banner.png");
    background-size: cover;
    max-width: 100%;
}

header {
    max-width: 100%;
}

main {
    max-width: 100%
    background-color: #f0f6f0;
}
    

.botao {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.botao:nth-child(2) {
    top: 20%; 
    left: 10%;
}

.botao:nth-child(3) {
    top: 40%; 
    left: 50%;
}  

.botao:nth-child(4) {
    top: 60%; 
    left: 80%;
}  