nav {
    background-image: url("img_banner.png");
    background-size: cover;
    max-width: 100%;
}

header {
    max-width: 100%;
}

main {
    max-width: 100%
    background-color: #f0f6f0;
}

#contato {
    background-position: center;
}
